* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	/* background-image: url("assets/arkanlemarchand.webp"); */
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50%;
}
a {
	color: rgb(155, 236, 146);
	text-decoration: none;
}
.page-content {
	background-color: #dfdfdfab;
	padding: 40px 1rem 150px 1rem;
	min-height: 100vh;
}
/* Dropzone */
.dropzone {
	border: 3px dashed #888;
	padding: 2em;
	text-align: center;
	background: #fff;
	margin-bottom: 2em;
	transition: background 0.2s, border-color 0.2s;
	background: #e6e5e5;
	border-radius: 1rem;
}
.dropzone.hover {
	border-color: #007bff;
	background: #eef5ff;
}
.dropzone.green {
	background-color: #c1ffc9;
}

/* Messages */
.message {
	margin-top: 1em;
	font-weight: bold;
}

/* Tableau */
table {
	border-collapse: collapse;
	width: 100%;
	background: #fff;
	margin-top: 0.5em;
}
th,
td {
	border: 1px solid #ccc;
	padding: 0.5em;
	vertical-align: top;
}
input[type="text"] {
	/* width: 100%; */
	padding: 10px;
}
textarea {
	width: 100%;
	height: 4em;
	font-family: monospace;
	white-space: pre-wrap;
	resize: vertical;
}
.actions button {
	margin: 0 0.15em;
}

/* Indicateur de présence dans JSON courant */
.in-current {
	background: #eaffea;
}
.not-in-current {
	background: #ffecec;
}

/* Barres d'outils */
.tools {
	margin: 1.5em 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	align-items: center;
}
.tools input[type="file"] {
	display: none;
}

details {
	margin-top: 1.5em;
}
.td {
	width: 1%;
	/* background-color: #007bff; */
	.button {
		background-color: #e6f0fa;
		border-radius: 5px;
		border: 0px;
		padding: 1px;
		margin: 0 2px 2px 0;
		cursor: pointer;
	}
}

/* form */

#addForm {
	padding: 20px;
}

/* navigation */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #05064d;
	border-bottom: 1px solid #05064d;
	display: flex;
	z-index: 1000;
	height: 32px;
	font-family: "Segoe UI", Arial, sans-serif;
	user-select: none;
	color: white;
}
.menu {
	position: relative;
	padding: 0 16px;
	line-height: 32px;
	cursor: pointer;
}
.menu:hover,
.menu.active {
	background: #05064d;
	color: whitesmoke;
}
.dropdown {
	display: none;
	position: absolute;
	top: 31px;
	left: 0;
	background: #fff;
	border: 1px solid #111275;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	min-width: 220px;
}
.menu:hover .dropdown {
	display: block;
}
.dropdown a,
.dropdown span {
	display: block;
	padding: 8px 20px;
	text-decoration: none;
	color: #222;
	font-size: 15px;
	white-space: nowrap;
	cursor: pointer;
}
.dropdown a:hover,
.dropdown span:hover {
	background: #05064d;
	color: white;
}
/* .separator {
				border-bottom: 1px solid #ddd;
				margin: 6px 0;
			} */
